*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.top-panel, .footer {
  background-color: #1f2937;
  color: #fefefe;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

a {
  color: #fefefe;
  text-decoration: none;
  font-size: 10px;
}

.content-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 100px 20px;
}
.top-left-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

img {
  max-width: 200px;
}

.hero {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
}
.hero-details {
  font-size: 16px;
}


.top-middle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 20px;
  height: 250px;
  padding-top: 20px;
}

.cards {
  display: flex;
  justify-content: center; /* center children horizontally */
  align-items: center;
  gap: 50px;
  max-width: 200px; /* control how wide the container is */
}

.card,
.cards img {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border: lightblue 1pt solid;
  border-radius: 10%;
}
.card {
  font-size: 10px;
}

.bottom-middle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  /* margin: 0 auto; */
  /* margin-bottom: 100px; */
  height: 300px;
  width: 100%;
}
.bottom-middle-panel p {
  width: 500px;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
}

.bottom-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: purple; */
  flex: 1;
}


.bottom-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  /* height: 100px; */
  background-color: #03c2fc;
  padding: 25px;
  color: #fefefe;
  border-radius: 15pt;
}


.bottom-content h2{
  font-size: 18px;
}

button {
  width: 80px;
  height: 25px;
  color: #fefefe;
  background-color: #03c2fc;
  border-color: white;
  border-radius: 4pt;
  border-style: none;
}

.bottom-content button{
  border-style: solid;
  border-width: 1;
  border-color: white;

}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #1f2937;
  margin-top: auto;
}

